@charset "ISO-8859-1";

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.profile {
	margin-top:50px;
}

.main-body {
	display: flex;
}

@media only screen and (max-width: 600px) {
	h1 {
		text-align: center;
		color: black;
	}
	
	.container div {
		display:flex;
	   	justify-content: center;
	   	gap:20px;
	}
	
  .cards {
  	display:flex;
   	justify-content: center;
   	gap:50px;
  }
}